/* 굿즈 영역 */
.goods {
    width: 100%;
    height: 1200px;
    padding-top: 160px;
}

.goods > h1 {
    color: white;
    margin-bottom: 30px;
    padding: 0 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.goods > h1 > span {
    color: var(--basic-color);
}

.go_img-box {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: end;
    padding-inline: 40px;
    padding-bottom: 40px;
    position: relative;
    flex-wrap: wrap;
}

.go_img {
    width: 600px;
    height: 400px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
}

.go_img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.go_best {
    width: 80px;
    height: 30px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    background-color: var(--basic-color);
    border-radius: 50px;
    top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

.go_box {
    display: flex;
    width: 200px;
    height: 135px;
    z-index: 10;
    position: absolute;
    top: 0;
}

.go_box:nth-of-type(2) {
    left: 240px;
}

.go_box:nth-of-type(3) {
    left: 440px;
}

.go_box:nth-of-type(4) {
    top: 135px;
}

.go_box:nth-of-type(5) {
    top: 135px;
    left: 240px;
}

.go_box:nth-of-type(6) {
    top: 135px;
    left: 440px;
}

.go_box:nth-of-type(7) {
    top: 270px;
}

.go_box:nth-of-type(8) {
    top: 270px;
    left: 240px;
}

.go_box:nth-of-type(9) {
    top: 270px;
    left: 440px;
}

.go_box:hover ~ .go_img.first {
    width: 900px;
    height: 600px;
    z-index: 1;
}

.go_box:hover ~ .go_img.second {
    width: 300px;
    height: 600px;
}

.go_box:hover ~ .go_img.third {
    height: 200px;
}

.go_box:hover ~ .go_img.fourth {
    height: 200px;
}

.go_box:nth-of-type(1):hover ~ .go_img.first > img {
    transform: scale(1.5);
    transform-origin: top left;
}