/* information 영역 */
#info {
    margin-top: 120px;
    width: 100%;
}

.info_img {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: -1;
}

.info_img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.6) 65%,
    rgba(0, 0, 0, 1) 99%,
    rgba(0, 0, 0, 1) 100%);
    background-color: rgba(0, 0, 0, 0.4);
}

.info_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info_cont {
    position: relative;
    margin-top: -100px;
    color: #eee;
    padding: 0 40px;
}

.info_title {
    font-size: 45px;
    font-weight: bold;
    color: #A14E4E;
    text-transform: capitalize;
}

.info_comment {
    font-size: 22px;
    margin-top: 25px;
    line-height: 40px;
    font-weight: bold;
}

.info_exp {
    margin-top: 60px;
    font-size: 16px;
    line-height: 30px;
    color: #a0a0a0;
}

.info_logo {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    display: flex;
}

.info_logo img {
    height: 300px;
}

.info_more {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    color: #eee;
    width: 120px;
    text-align: center;
    height: 50px;
    line-height: 45px;
   box-shadow: 0px 0px 3px 1px white;
    border-radius: 50px;
    font-size: 18px;
    overflow: hidden;
}

.info_more::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #A14E4E;
    z-index: -1;
    transform-origin: left;
    transition: .2s ease-out;
    /* border-radius: 50px; */
}

.info_more:hover {
    transition: .2s ease-out;
    box-shadow: none;
}
.info_more:hover::before {
    width: 100%;
}