/* 랭킹 영역 */
.ranking {
    width: 100%;
    padding-top: 160px;
}

/* 리그별 버튼 */
.league-btn {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.leag-btn {
    display: block;
    width: 120px;
    height: 50px;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #ffffff;
    margin-right: 30px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.leag-btn::before {
    content: "";
    display: block;
    width: 0;
    height: 50px;
    background-color: var(--basic-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.leag-btn:hover {
    transition: all 0.2s ease-in-out;
    border-color: var(--basic-color);
}

.leag-btn:hover::before {
    width: 120px;
}

/* 랭킹 컨테이너 */
.rank-content {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    display: flex;   
}

/* 리그별 랭킹 */
.league-rank {
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 1px 1px #ffffff inset;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.night,
.weekend,
.dawn {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    position: absolute;
    top: -1000px;
    left: 50px;
}

.ranking > #night:checked ~ .rank-content > .league-rank > .night {
    top: 50px;
    transition: all 0.3s ease-in-out;
}

.ranking > #weekend:checked ~ .rank-content > .league-rank > .weekend {
    top: 50px;
    transition: all 0.3s ease-in-out;
}

.ranking > #dawn:checked ~ .rank-content > .league-rank > .dawn {
    top: 50px;
    transition: all 0.3s ease-in-out;
}

.night span,
.weekend span,
.dawn span {
    color: var(--basic-color);
}

.night h1,
.weekend h1,
.dawn h1 {
    color: #ffffff;
}

.rank {
    width: 100%;
    height: calc(100% - 35px);
    color: white;
    font-size: 15px;
    position: relative;
}

.rank-title {
    display: flex;
    margin-top: 30px;
}

.rank-title label {
    width: 80px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    align-content: center;
    text-align: center;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.rank-title label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 30px;
    background-color: var(--basic-color);
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.rank-title > label:hover::before {
    width: 80px;
}

.rank-title > label:hover {
    transition: 0.2s ease-in-out;
    border-color: var(--basic-color);
}

.bowler,
.batter {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 30px;
    opacity: 0;
    transition: 0.2s ease-in-out;
    align-content: end;
}

#night-bowler:checked ~ .rank-content > .league-rank > .night > .rank > .bowler {
    opacity: 1;
}

#night-batter:checked ~ .rank-content > .league-rank > .night > .rank > .batter {
    opacity: 1;
}

#weekend-bowler:checked ~ .rank-content > .league-rank > .weekend > .rank > .bowler {
    opacity: 1;
}

#weekend-batter:checked ~ .rank-content > .league-rank > .weekend > .rank > .batter {
    opacity: 1;
}

#dawn-bowler:checked ~ .rank-content > .league-rank > .dawn > .rank > .bowler {
    opacity: 1;
}

#dawn-batter:checked ~ .rank-content > .league-rank > .dawn > .rank > .batter {
    opacity: 1;
}

.bowler h2, .batter h2 {
    width: 20%;
    align-content: center;
    margin-bottom: 10px;
    font-size: 19px;
}

.rank-list {
    width: 100%;
    display: flex;
    position: relative;
}

.rank-list ul {
    margin-right: 30px;
    height: 80%;
}

.bowler ul li,
.batter ul li {
    margin: 10px;
    font-size: 16px;
}

.rank-list > img,
.rank-list > img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    right: 50px;
    top: -150px;
    object-fit: cover;

}

/* 주요 부문 */
.main-rank {
    width: 40%;
    height: 100%;
    box-shadow: 0px 0px 1px 1px #ffffff inset;
    border-radius: 10px;
    padding: 15px 50px;
    overflow: hidden;
}

.main-rank label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: 2px 2px 6px 2px #8c8b8b;
    margin-block: 3px;
    padding-inline: 30px;
    align-items: center;
    border-radius: 30px;
    background-color: #d6d4d4;
}

.main-rank label:hover {
    box-shadow: inset -2px -2px 4px -1px #8c8b8b;
    font-size: 16px;
}

.main-rank label img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.bat-con,
.hom-con,
.mul-con,
.ear-con,
.out-con,
.sav-con {
    width: 100%;
    height: 0;
    color: white;
    align-content: center;
    overflow: hidden;
    transition: all 0.3s;
}

.con-title {
    width: 100%;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.con-title span {
    color: var(--basic-color);
    font-weight: bold;
    font-size: 18px;
}
.con {
    width: 100%;
    text-align: center;
}

.con li {
    display: inline;
    padding: 5px;
}
#bat:checked ~ .rank-content > .main-rank > .bat-con {
    height: 100px;
}

#bat:checked ~ .rank-content > .main-rank > label:nth-of-type(1) > img {
    transform: rotate(180deg);
}

#hom:checked ~ .rank-content > .main-rank > .hom-con {
    height: 100px;
}

#hom:checked ~ .rank-content > .main-rank > label:nth-of-type(2) > img {
    transform: rotate(180deg);
}

#mul:checked ~ .rank-content > .main-rank > .mul-con {
    height: 100px;
}

#mul:checked ~ .rank-content > .main-rank > label:nth-of-type(3) > img {
    transform: rotate(180deg);
}

#ear:checked ~ .rank-content > .main-rank > .ear-con {
    height: 100px;
}

#ear:checked ~ .rank-content > .main-rank > label:nth-of-type(4) > img {
    transform: rotate(180deg);
}

#out:checked ~ .rank-content > .main-rank > .out-con {
    height: 100px;
}

#out:checked ~ .rank-content > .main-rank > label:nth-of-type(5) > img {
    transform: rotate(180deg);
}

#sav:checked ~ .rank-content > .main-rank > .sav-con {
    height: 100px;
}

#sav:checked ~ .rank-content > .main-rank > label:nth-of-type(6) > img {
    transform: rotate(180deg);
}
