* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --width: 1320px;
    --basic-color: #A14E4E;
}

body {
    background-color: black;
}

/* 메인 컨테이너 */
main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: var(--width);
}

/* 헤더 영역 */
header {
    position: fixed;
    width: calc(var(--width) - 20px);
    margin: 0 10px;
    margin-top: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    color: #eee;
    z-index: 11;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* 로고 */
.logo {
    display: flex;
}

.logo img {
    height: 80px;
}

/* 내비게이션 */
nav ul {
    display: flex;
    margin-left: 20px;
}

nav > ul > li {
    padding: 0 25px;
}

nav > ul > li > a {
    position: relative;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    height: 80px;
    align-content: center;
}

nav > ul > li > a::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #A14E4E;
    transform-origin: center;
    transform: scaleX(0);
}

nav > ul > li > a:hover::before {
    transition: .2s ease-in-out;
    transform: scaleX(1);
}

nav > ul > li > a:hover {
    color: #A14E4E;
}

/* 유저 */
.user {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
}

.user a {
    font-size: 14px;
    margin-right: 25px;
    text-transform: uppercase;
}

.user a:hover {
    font-weight: bold;
}