@import url('info.css');
@import url('cale.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --width: 1320px;
}

body {
    background-color: black;
}

/* 메인 컨테이너 */
main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: var(--width);
}

/* 헤더 영역 */
header {
    position: fixed;
    width: calc(var(--width) - 20px);
    margin: 0 10px;
    margin-top: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    color: #eee;
    z-index: 2;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* 로고 */
.logo {
    display: flex;
}

.logo img {
    height: 80px;
}

/* 내비게이션 */
nav ul {
    display: flex;
    margin-left: 20px;
}

nav > ul > li {
    padding: 0 25px;
}

nav > ul > li > a {
    position: relative;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    height: 80px;
    align-content: center;
}

nav > ul > li > a::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #A14E4E;
    transform-origin: center;
    transform: scaleX(0);
}

nav > ul > li > a:hover::before {
    transition: .2s ease-in-out;
    transform: scaleX(1);
}

nav > ul > li > a:hover {
    color: #A14E4E;
}

/* 유저 */
.user {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
}

.user a {
    font-size: 14px;
    margin-right: 25px;
    text-transform: uppercase;
}

.user a:hover {
    font-weight: bold;
}

/* 비주얼 영역 */
#visual {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 500%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    animation: slide 10s infinite ease-in-out;
}

@keyframes slide {
    0% {
        left: 0;
    }
    22% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    47% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    72% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    97% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.slide::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.6) 65%,
    rgba(0, 0, 0, 1) 99%,
    rgba(0, 0, 0, 1) 100%);
    background-color: rgba(0, 0, 0, 0.4);
}

.slide_img {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.text strong {
    font-size: 40px;
    color: #eee;
    text-transform: uppercase;
}

.text span {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #eee;
}