* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
div {
    position: relative;
}
.header {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    border-bottom: 1px solid white;
}
nav {
    height: 100%;
    display: flex;
    padding: 0 24px;
    margin: 0 130px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.menu {
    height: 100%;
    display: flex;
    align-items: center;
}
.menu > li {
    display: flex;
}
.menu > li > a {
    padding: 0 65px 0 15px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
}
.user {
    width: 170px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    width: 70px;
    height: 32px;
    line-height: 32px;
    margin: 0 0 0 30px;
    padding: 0 10px;
    border: 1px solid green;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    background-color: green;
}
.box1 {
    width: 100%;
    height: 225px;
    position: absolute;
    top: 250px;    
}
.container {
    margin: 0 auto;
    width: 1597px;
    height: 100%;
    padding: 0 24px;

}
.box2 {
    width: 660px;
    height: 397px;
    position: absolute;
    top: 250px;
    right: 156px;
    display: flex;
}
.box2-1 {
    width: 256px;
    height: 250px;
    padding: 40px 37px;
    background-color: #5AA933;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.box2-1-1 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.box2-2 {
    margin-top: 67px;
    width: 257px;
    height: 280px;
    padding: 25px 37px;
    background-color: #1950AD;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.box2-2-1 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.section {
    width: 100%;
    height: 1340px;
    padding: 160px 0 0 0;
}
.box3 {
    width: 100%;
    height: 420px;
    margin: 0 0 80px;
}
.box3-1 {
    width: 100%;
    height: 50px;
    margin: 60px 0 0;
    text-align: center;
}
button {
    padding: 13.5px 22.5px; 
    width: 210px; 
    background-color: white;
    border-radius: 20px; 
    border: 1px solid green
}
.imgbox {
    display: flex;
    justify-content: space-between;
}
.imgbox > img {
    width: 480px;
    height: 700px;
    border-radius: 20px;
}
.box3 > ul {
    margin: 60px 300px 0;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.imgbox2 {
    display: flex;
    width: 100%;
}
.box3-2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.map {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.number {
    width: 500px;
    padding: 30px 0;
    height: 60px;
    border-bottom: 1px solid lightgray;
}
.hours {
    width: 500px;
    padding: 30px 0;
    height: 100px;
    border-bottom: 1px solid lightgray;
}
.address {
    width: 500px;
    height: 80px;
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
}
.sns {
    width: 520px;
    height: 50px;
    padding: 30px 0;
    display: flex;
}
.sns > a {
    width: 40px;
    height: 100%;
    padding: 0 10px;
}
.inner {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    width: 100%;
    height: 270px;
    padding: 50px 0;
    background-color: #272727;
}
.footer-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer2 {
    width: 800px;
    height: 100%;
}
.footer2-1 {
    width: 100%;
    margin: 0 0 15px;
}
.footer2-1 > a {
    color: #5AA933;
    margin-right: 5px;
    font-size: 17px;
}
.footer2-2 {
    width: 100%;
    margin: 0 0 40px;
}
.footer2-2 > a {
    margin-right: 5px;
    color: gray;
    font-size: 19px;
}
.footer3 {
    width: 350px;
    height: 100%;
}
.footer2-3 > p {
    font-size: 17px;
    color: #EEEEEE;
    width: 100%;
    margin: 0 0 5px;
}
.footer2-3 > p > span {
    font-size: 17px;
    color: #FFFFFF80;
}
.footer2-3 > p > a {
    font-size: 19px;
    color: #5AA933;
    font-weight: bold;
}
.footer2-3 {
    width: 100%;
    margin: 0 0 40px;
}
.text {
    font-size: 15px;
    color: #FFFFFF80;
    margin: 0 5px 0 0;
}