/* 비주얼 */
.chart_visual {
    width: 100%;
    height: 80vh;
    position: relative;
}

input {
    display: none;
}

.chart_visual img {
    width: 1320px;
    height: 80vh;
    position: fixed;
    z-index: -10;
}

.chart_visual h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    z-index: 3;
}

.chart_visual::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.5) 65%,
    rgba(0, 0, 0, 1) 99%,
    rgba(0, 0, 0, 1) 100%);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.chart {
    width: 100%;
    background-color: black;
    padding-top: 100px;
}

.chart h1 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 40px;
}

.chart h1 span {
    color: var(--basic-color);
}

.row_column_btn {
    width: 100%;
    height: 100px;
    display: flex;
}

.cha_row {
    width: 50%;
    height: 100%;
    box-shadow: 0px 1px #fff;
    text-align: center;
    align-content: center;
}

.cha_column {
    width: 50%;
    height: 100%;
    box-shadow: 0px 1px #fff;
    text-align: center;
}

.cha_column > label > h2,
.cha_row > label > h2 {
    color: #fff;
    font-size: 30px;
    height: 100%;
    align-content: center;
    font-weight: lighter;
}

#row:checked ~ .row_column_btn > .cha_row {
    box-shadow: inset -1px 1px var(--basic-color);
}

#row:checked ~ .row_column_btn > .cha_row > label > h2 {
    font-weight: 400;
}

#column:checked ~ .row_column_btn > .cha_column {
    box-shadow: inset 1px 1px var(--basic-color);
}

#column:checked ~ .row_column_btn > .cha_column > label > h2 {
    font-weight: 400;
}
