.game-schedule {
    width: 100%;
    height: 760px;
    padding-inline: 80px;
    margin-top: 40px;
    display: flex;
}

.calendar {
    width: 70%;
    height: 100%;
}

.calendar > h1,
.schedule-title > h1 {
    margin-bottom: 30px;
    font-size: 35px;
}

.calendar > h1 > span {
    margin-left: 10px;
}

.week {
    width: 88%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px; 
    margin-bottom: 50px;
}

.calendar-design {
    width: 100%;
    padding-inline: 10px;
    height: 79%;
}

.week-width-box {
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 14px;
    position: relative;
}

.week-box {
    width: 15%;
    height: 100%;
    padding: 15px 15px 15px 10px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.week-box:hover {
    background-color: #efefef;
}

.week-box > input {
    display: none;
}

.open {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}    

.close {
    display: block;
    width: 100%;
    text-align: right;
    padding: 20px;
    color: red;
    height: 60px;
    font-size: 30px;
    margin-bottom: 130px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(33, 32, 32);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}

.week-box > input:checked + label ~ .modal {
    visibility: visible;
    opacity: 1;
}


.modal-box {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 30px;
    color: black;
    text-align: center;
}

.modal-box > img {
    width: 200px;
    height: 200px;
}

.today-schedule {
    width: 30%;
    height: 100%;
}

.todays-schedule {
    display: flex;
    width: 100%;
    height: 90%;
}

.team-web,
.team-design {
    width: 50%;
    height: 100%;
}

.team-box,
.team-box1 {
    text-align: center;
}

.team-box > img,
.team-box1 > img {
    width: 200px;
    height: 200px;
}

.full-name {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.team-box > img:hover ~ .full-name,
.team-box1 > img:hover ~ .full-name {
    opacity: 1;
}

.score {
    font-size: 60px;
    font-weight: bold
}

.team-web > img,
.team-design > img {
    width: 99%;
    height: 50%;
    border-radius: 20px;
}