.information {
    width: 100%;
    height: 900px;
    padding-inline: 80px;
    margin-top: 40px;
}

.title {
    font-size: 40px;
    color: #c21c1c;
}

.interduce {
    font-size: 13px;
    margin-top: 70px;
}

.interduce > h1 > span {
    color: #c21c1c;
}

.interduce-img img,
.interduce-img1 img {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.interduce-img,
.interduce-img1 {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    align-items: center;
    font-size: 30px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.interduce-img1 > h1 {
    width: 515.44px;
    text-align: center;
}

.interduce-img {
    animation: img-slide 5s infinite;
}

.interduce-img1 {
    position: relative;
    top: -470px;
    animation: img-slide1 5s infinite;
}

@keyframes img-slide {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes img-slide1 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}