.ranking {
    width: 100%;
    height: 600px;
    padding-inline: 80px;
    margin-top: 40px;
    display: flex;
    position: relative;
}

.league-ranking {
    width: 70%;
    height: 100%;
    display: flex;
}

.night,
.weekend,
.dawn {
    width: 33.333%;
    height: 100%;
    text-align: center;
}

.night > label > img,
.weekend > label > img,
.dawn > label > img {
    width: 300px;
    height: 300px;
}

.night > input,
.weekend > input,
.dawn > input,
.night-ranking > input {
    display: none;
}

.night-ranking {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.night-ranking > label {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.night > input:checked + label ~ .night-ranking {
    visibility: visible;
    opacity: 1;
}

.bowler {
    font-size: 30px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.night1:checked  ~ .bowler {
    visibility: visible;
    opacity: 1;
}