* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#wrap {
    width: 100%;
}
.header1 {
    width: 100%;
    height: 35px;
}
.header1 .box {
    width: 1200px;
    height: 35px;
    padding: 0 16px;
    margin: auto;
    display: flex;
    justify-content: right;
    color: #616161;
    align-items: center;
    font-size: 11px;
}
.header2 {
    width: 1200px;
    height: 70px;
    margin: auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box2 {
    width: 170px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.box2 p {
    padding: 0 5px;
}
.header3 {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    border-bottom: #dfdcdc 1px solid;
}
.menu {
    display: flex;
    width: 1200px;
    height: 55px;
}
.menu > li {
    position: relative;
    padding: 0 16px 4px;
    height: 55px;
    line-height: 55px;
}
.menu > li > a {
    position: relative;
    font-weight: bold;
    height: 55px;
    display: block;
}

.menu > li > a::before {
    position: absolute;
    content: "";
    top: 52px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: hotpink;
    transition: 0.3s ease-out;
    transform: scaleX(0);
}

.menu > li > a:hover::before {
    transform: scaleX(1);
}

.menu > li > a:hover {
    color: hotpink;
}


.submenu {
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;
    height: 270px;
    background-color: white;
    overflow: hidden;
    height: 0;
}
.submenu > ul {
    width: 1200px;
    margin: auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
.submenu > ul > li {
    display: inline-block;
    width: 91px;
    height: 190px;
}
.submenu > ul > li > a{
    display: block;
    padding: 7px 0;
    font-size: 12px;
}
.box3 {
    position: absolute;
    left: 1060px;
    width: 180px;
    height: 190px;
}
.box3 p {
    font-size: 14px;
    font-weight: bold;
}
.box4 {
    position: absolute;
    left: 970px;
    width: 288px;
    height: 245px;
}
.box4-0 {
    width: 288px;
    height: 180px;
    display: flex;
    justify-content: space-between;
}
.box4-1 {
    width: 136px;
    height: 180px;
}
.box4-1 p {
    font-size: 14px;
    font-weight: bold;
}
.box4-2 {
    width: 136px;
    height: 180px;
}
.box4-2 p {
    font-size: 14px;
    font-weight: bold;
}
.box5 {
    position: absolute;
    left: 970px;
    width: 288px;
    height: 245px;
}
.box5-0 {
    width: 288px;
    height: 180px;
    display: flex;
    justify-content: space-between;
}
.box5-1 {
    width: 136px;
    height: 180px;
}
.box5-1 p {
    font-size: 14px;
    font-weight: bold;
}
.box5-2 {
    width: 136px;
    height: 180px;
}
.box5-2 p {
    font-size: 14px;
    font-weight: bold;
}
.cate:hover ~ .one {
    height: 270px;
    padding: 33px 0 53px;
}
.cate2:hover ~ .two,
.cate3:hover ~ .three {
    height: 330px;
    padding: 33px 0 53px;
}
.slider  img {
    width: 100%;
    height: 760px;
}