* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Paperlogy-8ExtraBold';
}

/* font */

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fefefe;
}

:root {
    --main-color: #3BAEA0;
}

.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header::after {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.4;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.logo {
    z-index: 1;
}
.logo img {
    width: 150px;
    height: 100px;
}

.menu {
    display: flex;
    width: 600px;
    height: 60px;
    margin: 30px;
    justify-content: space-between;
    border: 2px solid var(--main-color);
    position: relative;
    z-index: 2;
}

.nav-before {
    width: 600px;
    opacity: 0.4;
    height: 60px;
    background-color: black;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}

.login {
    background-color: var(--main-color);
}

.login > a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-text:hover {
    background-color: white;
}

.menu-text:hover a{
    color: black; 
}

.login:hover {
    background-color: black;
}

.login:hover a {
    color: var(--main-color);
}

.menu > li {
    width: 125px;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.menu > li > a {
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 5px;
    font-size: 13px;
    color: white;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    animation: slide 10s infinite;
}

.slide {
    min-width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slidebar-box {
    width: 100%;
    height: 10px;
    display: grid;
    z-index: 2;
    position: absolute;
    bottom: 20px;
    grid-template-columns: repeat(3,80px);
    place-content: center;
}

.slidebars-box {
    width: 50px;
    height: 5px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    opacity: 0.7;
}

.slidebars,
.slidebars1,
.slidebars2 {
    width: 200px;
    height: 5px;
    border-radius: 20px;
    opacity: 0;
    z-index: 2;
    display: flex;
}

.slidebars {
    animation: slide1 10s infinite;
}

.slidebars1 {
    animation: slide2 10s infinite;
}

.slidebars2 {
    animation: slide3 10s infinite;   
}

.slidebar {
    width: 54px;
    height: 5px;
    border-radius: 20px;
    background-color: #9a9a9a;
}

.slides-textbox {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.slide-text,
.slide-text1,
.slide-text2 {
    position: absolute;
    bottom: 50px;
    left: 30px;
    opacity: 0;
}

.subtext {
    font-size: 20px;
    position: relative;
    top: -40px;
}

.slide-text {
    animation: slide1 10s infinite;
}

.slide-text1 {
    animation: slide2 10s infinite;
}

.slide-text2 {
    animation: slide3 10s infinite;
}

.top-scroll {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    animation: bouns 3s infinite;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
}

@keyframes slide {
    0% {
        left: 0;
    }
    28% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    61% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    93% {
        left: -200%;
    }
    99.9999% {
        left: -300%;
    }
    100% {
        left: 0%;
    }
}

@keyframes slide1 {
    0% {
        opacity: 1;
    }
    28% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    61% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    99.9999% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide2 {
    0% {
        opacity: 0;
    }
    28% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    61% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    99.9999% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide3 {
    0% {
        opacity: 0;
    }
    28% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    61% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    99.9999% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bouns {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* 푸터 영역 */
.footer {
    width: 100%;
    margin-top: 20px;
}

.f_container {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.f_img {
    width: 30%;
    height: 110px;
    display: flex;
}

.f_img p {
    align-content: center;
    font-size: 25px;
}

.f_img img {
    width: 180px;
    height: 110px;
    margin-left: -30px;
}

.f_center {
    align-items: center;
    color: #8f8f8f;
    font-size: 14px;
    display: flex;
}

.f_center p {
    margin-inline: 10px;
    cursor: pointer;
}

.f_center p:hover {
    color: black;
}

.f_right {
    text-align: right;
    font-size: 30px;
    align-content: end;
}

.f_right i {
    margin-left: 10px;
    margin-bottom: 10px;
}

.f_adr {
    color: #8f8f8f;
    font-size: 14px;
    text-align: right;
}