* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
    z-index: 2;
}
.link {
    position: relative;
    width: 200px;
    height: 100%;
    font-size: 35px;    
    display: flex;
}
.link1 {
    position: relative;
    width: 200px;
    height: 100%;
    font-size: 35px;    
    display: flex;
}
.link > input {
    display: none;
}
.link1 > input {
    display: none;
}
.hover {
    position: absolute;
    width: 55px;
    height: 55px;
    text-align: center;
    top: 6px;
    border-radius: 40px;
}
.hover2 {
    position: absolute;
    width: 55px;
    height: 55px;
    text-align: center;
    top: 6px;
    left: 70px;
    border-radius: 40px;
}
.hover_box1 {
    position: absolute;
    width: 55px;
    height: 55px;
    text-align: center;
    top: 6px;
    left: 70px;
    border-radius: 40px;
}
.hover_box2 {
    position: absolute;
    width: 55px;
    height: 55px;
    text-align: center;
    top: 6px;
    left: 70px;
    border-radius: 40px;
}
.ballon {
    width: 110px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #3cff26;
    position: absolute;
    top: 65px;
    left: -25px;
    display: none;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    z-index: 4;
}
.ballon::after {
    border-top: 0 solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #3cff26;
    content: "";
    position: absolute;
    top: -16px;
    left: 42px;
}
.ballon_box2 > .ballon::after {
    top: -16px;
    left: 23px;
}
.tapmenu {
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 15px 1px #a9a9a9;
    position: absolute;
    top: 70px;
    display: none;
    border-radius: 10px;
    left: -10px;
    overflow: scroll;
    background-color: white;
    z-index: 3;
}
.tapmenu1 {
    border-top: 0 solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #ffffff;
    content: "";
    position: absolute;
    top: 55px;
    left: 17px;
    display: none;
    z-index: 3;
}
.title {
    width: 483px;
    padding-inline: 20px;
    height: 80px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8e7;
    border-top-left-radius: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.user {
    height: 1000px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 80px;
    padding-inline: 25px;
}
.user1 {
    width: 100%;
    height: 100%;
    position: relative;
}
.login {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 20px;
}
.login-name {
    text-align: left;
    font-size: 22px;
    height: 40px;
}
.login > ul {
    width: 100%;
    height: 230px;
}
.login > ul > li {
    width: 100%;
    height: 115px;
    display: flex;
}
.login > ul > li > a {
    width: 25%;
    height: 100%;
    padding: 10px 0 14px;
    text-align: center;
}
.login > ul > li > a > img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 1px #dddcdc;
    background-color: #ffffff;
}
.login > ul > li > a > p {
    width: 100%;
    height: 25px;
    font-size: 19px;
}
input:checked + label + .tapmenu + .tapmenu1 {
    display: block;
}
#tap2 ~ .tapmenu1 {
    left: 85px;
}
#hover:hover + label,
#hover2:hover + label,
#hover3:hover + label,
.hover_box1:hover,
.hover_box2:hover {
    background-color: #f5f5f5;
}
.hover:hover ~  .ballon_box > .ballon {
    display: block;
    background-color: white;
}.hover_box1:hover ~  .ballon_box1 > .ballon {
    display: block;
    background-color: white;
}.hover_box2:hover ~  .ballon_box3 > .ballon {
    display: block;
    background-color: white;
}.hover2:hover ~ .ballon_box2 > .ballon {
    display: block;
    background-color: white;
}
input:checked + label + .tapmenu {
    display: block;
}
.search {
    width: 1620px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.searchbox {
    width: 900px;
    height: 85px;
    margin: 0 auto;
    border: 1px solid #19ec02;
    border-radius: 40px;
    display: flex;
}
.logo {
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px;
}
.logo > img {
    width: 35px;
    height: 35px;
}
.field {
    width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #c5c3c3;
}
.keyboard:hover {
    color: #a9a9a9;
}
.keyboard:hover ~ .ballon_box4 > .ballon {
    top: 70px;
    left: 1085px;
    display: block;
    border-radius: 5px;
    background-color: #19ec02;
    color: white;
    width: 80px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
}
.keyboard:hover ~ .ballon_box4 > .ballon::after {
    left: 33px;
    top: -6px;
    border-bottom: 7px solid #19ec02;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.search-btn {
    color: #19ec02;
    padding-left: 20px;
    font-size: 30px;
    cursor: pointer;
}
#search {
    display: none;
}
.t-btn {
    padding-left: 20px;
    font-size: 18px;
    color: #a9a9a9;
}
.t-btn > span:nth-child(1) {
    display: none;
}
input:checked + label > span:nth-child(2) {
    display: none;
}
input:checked + label > span:nth-child(1) {
    display: block;
}
.sub {
    position: absolute;
    width: 870px;
    height: 50px;
    background-color: white;
    border-left: 1px solid #19ec02;
    border-right: 1px solid #19ec02;
    border-bottom: 1px solid #19ec02;
    top: 78px;
    left: 375px;
    display: none;
    box-shadow: 2px 2px 3px 0px #a9a9a9;
    border-radius: 10px;
    padding-inline: 30px;
    font-size: 19px;
    color: gray;
    z-index: 3;
}
.sub1 {
    display: flex;
}
input:checked + label + .sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field > input {
    width: 650px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
}
.searchbox:hover {
    box-shadow: 2px 2px 3px 0px #a9a9a9;
}
.linkbox {
    display: flex;
    width: 900px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-inline: 30px;
}
.linkbox > a {
    width: 90px;
    height: 80px;
    z-index: 2;
}
.linkbox > a > img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 1px #dddcdc;
    background-color: #ffffff;
}
.linkbox > a > p {
    width: 100%;
    height: 30px;
    font-size: 17px;
}
.linkbox > a:hover img {
    box-shadow: 0px 3px 4px 1px #dddcdc;
}
.linkbox > ul > input {
    display: none;
}
.linkbox > ul {
    width: 90px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.linkbox > ul > label {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 1px #dddcdc;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    color: #a9a9a9;
    background-color: #ffffff;
    z-index: 2;
}
.linkbox > ul > label:hover {
    box-shadow: 0px 3px 4px 1px #dddcdc;
    background-color: #fbfbfb;
    color: black;
}
.linkbox > ul > label > i:nth-child(2) {
    display: none;
}
.linkbox > ul > input:checked + label > i:nth-child(1) {
    display: none;
}
.linkbox > ul > input:checked + label > i:nth-child(2) {
    display: block;
    line-height: 50px;
}
.link-sub-box {
    width: 900px;
    height: 400px;
    position: absolute;
    top: 75px;
    left: 360px;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #a9a9a9;
    display: none;
}
.linkbox > ul > input:checked + label + .link-sub-box {
    display: block;
}