* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

/* 폰트 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.visual {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.main1-img {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual h1 {
    font-family: 'MangoDdobak-B';
    color: #ffffff;   
    font-size: 80px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
}

header {
    width: 100%;
    height: 80px;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: end;
}

.logo img {
    width: 140px;
    height: 60px;
}

.user {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: end;
}

.sign-in {
    width: 50%;
    height: 60px;
    background-color: #eeeeee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    width: 50%;
    height: 60px;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}